{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "dist/packages/**/*.js"
  ],
  "exclude": [
    "dist/packages/**/test/**/*.js",
    "dist/examples/**/*.js",
    "dist/packages/**/util/**/*.js",
    "dist/packages/**/lang.js"
  ]
}
